
.counterWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #9fb7f5;
}

.counterBody {
    width: 300px;
    height: 268px;
    padding: 10px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    position: relative;
}

.setBody {
    text-align: center;
    padding: 10px;
}

.outputResult {
    user-select: none;
    padding: 10px;
    font-size: 68px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outputResultMax {
    color: #d80000;
    font-size: 80px;
}

.counterBodyButtons {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 10px;
    height: 100%;
    align-items: flex-end;
}


.setInputs {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.setLegend {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.setInput {
    background-color: #c4a417;
    max-width: 200px;
    height: 40px;
    border-radius: 10px;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}


.danger {
    background-color: rgb(255, 101, 101);
}

.error {
    font-size: 24px;
    color: rgb(255, 101, 101);
}